* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #6C3A5C, #BEA7E5);
    z-index: -1;
}

#player1, #player2 {
    position: absolute;
    top: 10%;
    width: 20%;
    min-height: 40%;
    padding: 1em;
    background-color: rgba(233, 233, 233, 0.25);
    border-radius: 1em;
    backdrop-filter: blur(1em);
    box-shadow: 0px 0px 5px rgba(78, 78, 78, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player1 {
    left: 2.5%;
}

#player2 {
    right: 2.5%;
}

#clock1, #clock2 {
    border-radius: 1em;
    padding: 1em;

}

#clock1 {
    background-color: white;
    color: black;
}

#clock2 {
    background-color: black;
    color: white;
}

#pieces1, #pieces2 {
    min-height: 15vh;
}

.board-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    width: 50%;
    height: 150vh;
    border-radius: 4em;
    /* background-image: linear-gradient(to right, #21A179, #81AE9D); */
    background-color: #21A179;
    box-shadow: 0px 0px 30px rgb(78, 78, 78);
    z-index: 100;
}

#board {
    position: relative;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 1em;
    box-shadow: 0px 0px 30px rgb(78, 78, 78);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

#board.reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#messagefield {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 3em;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.promotionimage {
    position: static;
    width: 20%;
    cursor: pointer;
}

.square {
    position: relative;
    width: 12.5%;
    aspect-ratio: 1/1;
}

.square.white {
    background-color: #D2B48C;
}

.square.black {
    background-color: #7e6953;
}

.legal {
    box-shadow: inset 0 0 2em 1em rgba(117, 170, 48, 0.7);
    
}

.to-move {
    box-shadow: inset 0 0 2em 1em rgb(255, 230, 0);
}

.check {
    box-shadow: inset 0 0 2em 1em rgb(255, 0, 0);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    text-align: center;
    font-size: xx-large;
}

h1.white {
    background-color: transparent;
    color: white;
}

h1.black {
    background-color: transparent;
    color: black;
}